body {
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

#head {
    width: 100vw;
    height: 80px;
    padding: 0 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
}

#head .logo img {
    height: 50px;
}

#head nav  {
    display: flex;
}
#head nav ul {
    display: flex;
    
}